@model SportViewModel
@using BettingAppWeb.Shared;
@using BettingAppWeb.Models;
@{
    ViewBag.Title = "Browse";
    var SportsList = ViewData["SportsList"] as List<SportViewModel>;
}

<style>

    .table th {
        text-align: center;
    }

    .table td {
        text-align: center;
    }
</style>


<h2>Browse</h2>
@if (ManagerSingleton.Instance.AuthenticationManager.IsAdmin())
{

    using (Html.BeginForm("Browse", "Sports", FormMethod.Post, new { @role = "form" }))
    {
        <h3>Add or Update sport</h3>
        <div class="form-group">

            @Html.TextBoxFor(m => m.Name, new
        {
            @class = "form-control nameInput",
            @placeholder = "Sport name"
        })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Description, new
        {
            @class = "form-control descriptionInput",
            @placeholder = "Description"
        })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.Value, new
        {
            @class = "form-control valueInput",
            @placeholder = "Total betts value"
        })
        </div>

        <div class="form-group">
            @Html.TextBoxFor(m => m.EndTime, new
        {
            @type = "datetime-local",
            @class = "form-control endtimeInput"
        })
        </div>

        <div class="form-group">
            <input type="submit"
                   class="btn btn-primary btn-block"
                   value="Add/Update Sport" />
        </div>

    }

}

<div class="center-block">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>

                <th>Description</th>

                <th>Bets value</th>

                <th>End Date</th>
                @if (ManagerSingleton.Instance.AuthenticationManager.IsAdmin())
                {
                    <th>Actions</th>
                }
            </tr>

        </thead>
        <tbody>

            @{ foreach (var sport in SportsList)
                {
                    <tr>
                        <td class="sportName">@sport.Name</td>

                        <td class="sportDescription">@sport.Description</td>

                        <td class="sportValue">@sport.Value</td>

                        <td class="sportEndTime">@sport.EndTime.ToString()</td>

                        @if (ManagerSingleton.Instance.AuthenticationManager.IsAdmin())
                        {
                            <td>
                                <a class="sportEditButton"><i class="glyphicon glyphicon-edit"></i></a>
                                <a class="sportDeleteButton"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        }
                    </tr>
                }

            }

        </tbody>

    </table>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    
    $('.table tbody').on('click', '.sportEditButton', function () {
        var currentRow = $(this).closest('tr');
        var name = currentRow.find('.sportName').text();
        var description = currentRow.find('.sportDescription').text();
        var endtime = currentRow.find('.sportEndTime').text();
        var value = currentRow.find('.sportValue').text();

        $('form').find('.nameInput').val(name);
        $('form').find('.descriptionInput').val(description);
        $('form').find('.valueInput').val(value);

        var endDateTime = new Date(endtime).toISOString().slice(0,-1);
        $('form').find('.endtimeInput').val(endDateTime);

    });



</script>